# Strava API Access Token
# Get yours from: https://www.strava.com/settings/api
STRAVA_ACCESS_TOKEN=xxx
STRAVA_REFRESH_TOKEN=xxx
STRAVA_CLIENT_ID=xx
STRAVA_CLIENT_SECRET=xxx

# Get yours from: https://account.mapbox.com/access-tokens
MAPBOX_ACCESS_TOKEN=xxx

# Random encryption key
GPX_ENCRYPTION_KEY=xxx

